<div class="row mt-4">
    <table class="table">
        <thead style="padding-top: 24px;">
            <tr>
                <th style="width: 30%;">Username</th>
                <th style="width: 40%;">Active roles</th>
                <th style="width: 30%;"></th>
            </tr>
        </thead>
        <tbody style="border-bottom: 1px solid #9bb9e4;">
            <tr class="align-middle" *ngFor="let user of users" style="border-top: 1px solid #9bb9e4;">
                <td>{{user.username}}</td>
                <td>{{user.roles}}</td>
                <td><button (click)="openRolesModal(user)" class="btn btn-info">Edit Roles</button></td>
            </tr>
        </tbody>
    </table>
</div>