<div class="text-center mt-3">
  <h2>You have {{pagination.totalItems}} matches!</h2>
</div>

<div class="container mt-3" *ngIf="userParams">
  <form #form="ngForm" class="d-flex mb-3" (ngSubmit)="loadMembers()" autocomplete="off">
    <div class="d-flex mx-2">
      <lable class="col-form-label" style="height: 48px">Age from:</lable>
      <input type="number" class="form-control ml-3" style="width: 80px;" name="minAge" [(ngModel)]="userParams.minAge">
    </div>
    <div class="d-flex mx-2">
      <lable class="col-form-label">Age to:</lable>
      <input type="number" class="form-control ml-1" style="width: 80px;" name="maxAge" [(ngModel)]="userParams.maxAge">
    </div>
  </form>
</div>

<div class="row">
  <div class="col-2" *ngFor="let member of members">
    <app-member-card [member]="member"></app-member-card>
  </div>
</div>

<div class="d-flex justify-content-center mt-4" *ngIf="pagination">
  <pagination [boundaryLinks]="true" [totalItems]="pagination.totalItems" [itemsPerPage]="pagination.itemsPerPage"
    [maxSize]="10" [(ngModel)]="pagination.currentPage" (pageChanged)="pageChanged($event)" previousText="&lsaquo;"
    nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
  </pagination>
</div>
