<div class="card">
    <div class="card-body">
        <div *ngIf="(messageService.messageThread$ | async)?.length === 0" class="text-center">
            No messages yet... say hi by using the message box below
        </div>

        <ul *ngIf="(messageService.messageThread$ | async)!.length > 0" class="chat">
            <li *ngFor="let message of (messageService.messageThread$ | async); let i = index">
                <div *ngIf="message.senderUsername !== username" class="d-flex flex-row-reverse">
                    <span class="chat-img">
                        <img class="rounded-circle" 
                            src="{{message.senderPhotoUrl || './assets/user.png'}}" 
                            alt="image of user">
                    </span>
                    <div class="chat-body px-2">
                        <div class="header">
                            <small class="text-muted">
                                <span class="fa fa-clock-o"> {{message.messageSent + 'Z' | timeago}}</span>
                            </small>
                        </div>
                        <p class="m-0">{{message.content}}</p>
                        <small class="text-muted" *ngIf="message.dateRead && getLastReadMessageIndex() === i">
                            <span class="fa">(seen {{message.dateRead + 'Z' | timeago}})</span>
                        </small>
                    </div>
                </div>
                <div *ngIf="message.senderUsername === username" class="d-flex">
                    <span class="chat-img">
                        <img class="rounded-circle" 
                            src="{{message.senderPhotoUrl || './assets/user.png'}}" 
                            alt="image of user">
                    </span>
                    <div class="chat-body px-2">
                        <div class="header">
                            <small class="text-muted">
                                <span class="fa fa-clock-o"> {{message.messageSent + 'Z' | timeago}}</span>
                            </small>
                        </div>
                        <p class="m-0">{{message.content}}</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div class="card-footer">
        <form #messageForm="ngForm" (ngSubmit)="sendMessage()" autocomplete="off" class="d-flex w-100">
            <input
                name="messageContent"
                required
                [(ngModel)]="messageContent"
                type="text" 
                class="mr-4 form-control input-sm px-3" 
                placeholder="Send a private message">
            <button [disabled]="!messageForm.valid" class="btn btn-primary" type="submit" cl>Send</button>
        </form>
    </div>
</div>